<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dam.ptut.iutunice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="dam.ptut.iutunice.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- The main/home activity (it has no parent activity) -->
        <activity
            android:name="dam.ptut.iutunice.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dam.ptut.iutunice.IconMenuActivity"
            android:label="@string/title_activity_icon_menu" >
        </activity>
        <!-- A child of the main activity -->
        <activity
            android:name="dam.ptut.iutunice.ParameterActivity"
            android:label="@string/title_activity_parameter"
            android:parentActivityName="dam.ptut.iutunice.MainActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dam.ptut.iutunice.MainActivity" />
        </activity>
        <activity
            android:name="dam.ptut.iutunice.IconMenuCarouselFragment"
            android:label="@string/title_activity_icon_menu_liste_fragment" >
        </activity>
        <activity
            android:name="dam.ptut.iutunice.IconMenuListFragment"
            android:label="@string/title_activity_icon_menu_list_framgment" >
        </activity>
        <activity
            android:name="dam.ptut.iutunice.TwitterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_twitter"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>