<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<string>43.690467</string>
		<key>lon</key>
		<string>7.227802</string>
		<key>services</key>
		<array>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
		</array>
		<key>desc</key>
		<string>Tél. : 04 97 25 82 00
Fax : 04 97 25 83 30</string>
		<key>adresse</key>
		<string>IUT Nice-Côte d&apos;Azur
41, Bd Napoléon III
06206 Nice Cedex 3
</string>
		<key>nom</key>
		<string>Campus de Nice</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>43.617064</string>
		<key>lon</key>
		<string>7.071204</string>
		<key>services</key>
		<array>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
		</array>
		<key>desc</key>
		<string>Secrétariat
Tél. : 04 93 95 51 00
Fax : 04 93 65 48 27 </string>
		<key>adresse</key>
		<string>IUT Nice-Côte d&apos;Azur
650, Route des Colles
06560 Valbonne</string>
		<key>nom</key>
		<string>Campus de Sophia Antipolis</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>43.55057</string>
		<key>lon</key>
		<string>7.000844</string>
		<key>services</key>
		<array>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
		</array>
		<key>desc</key>
		<string>Secrétariat
admin-journalisme@iutsoph.unice.fr
Tél. : 04 97 06 61 20
Fax : 04 97 06 61 29</string>
		<key>adresse</key>
		<string>IUT Nice-Côte d&apos;Azur
4, avenue Stephen Liegeard
06400 Cannes</string>
		<key>nom</key>
		<string>Campus de Cannes</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>43.698162</string>
		<key>lon</key>
		<string>7.230377</string>
		<key>services</key>
		<array>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
		</array>
		<key>desc</key>
		<string>Secrétariat
Tél. : 04 93 28 66 80
Fax : 04 93 28 66 81</string>
		<key>adresse</key>
		<string>IUT Nice-Côte d&apos;Azur
58 chemin du Collège
06500 Menton</string>
		<key>nom</key>
		<string>Campus de Menton</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>43.556386</string>
		<key>lon</key>
		<string>6.967735</string>
		<key>services</key>
		<array>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
			<dict>
				<key>lon</key>
				<string></string>
				<key>lat</key>
				<integer>0</integer>
				<key>image</key>
				<string></string>
				<key>adresse</key>
				<string></string>
				<key>desc</key>
				<string></string>
				<key>nom</key>
				<string></string>
			</dict>
		</array>
		<key>desc</key>
		<string>Secrétariat
Tél. : 04 93 28 66 80
Fax : 04 93 28 66 81</string>
		<key>adresse</key>
		<string>IUT Nice-Côte d&apos;Azur
54, Rue de Cannes
06150 Cannes La Bocca</string>
		<key>nom</key>
		<string>Campus de Cannes-la-Bocca</string>
	</dict>
</array>
</plist>
